.botao {
    padding: 8px 20px;
    background-color: #fffbf4;
    color: rgb(0, 0, 0);
    border: 1.5px solid #b89b5e;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s;
}

.botao:hover {
    transform: scale(1.05);
    color: #ffffff;
    background-color: #b89b5e;
}