.pagina {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fcfbf7;
    color: #1f1f1f;
    overflow-x: hidden;
}

.detalhes {
    flex: 1;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0px 50px 60px;
    box-sizing: border-box;
}

.topoDetalhes {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    margin-bottom: 23px;
}

.botaoVoltar {
    background: none;
    border: none;
    color: #8c2e8c;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    cursor: pointer;
    padding-top: 35px;
    text-decoration: none;
    transition: 0.2s ease;
}

.botaoVoltar:hover {
    opacity: 0.7;
}

.carregando {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #303030;
}

.secaoPrincipal {
    display: flex;
    align-items: center;
    gap: 38px;
    background: white;
    border: 1px solid #ece7ec;
    border-radius: 16px;
    padding: 22px 30px;
    margin-bottom: 45px;
}

.capaLivro img {
    width: 220px;
    border-left: 5px solid #9a0984;
    border-radius: 6px;
    box-shadow: 0 14px 35px rgba(0, 0, 0, 0.1);
}

.infoLivro {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.generoLivro {
    width: fit-content;
    padding: 6px 18px;
    margin-bottom: 10px;
    border-radius: 30px;
    background-color: #f3e5f5;
    color: #9a0984;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid rgba(154, 9, 132, 0.2);
}

.infoLivro h1 {
    font-size: 52px;
    font-family: 'Georgia', serif;
    font-weight: 500;
    color: #1c2321;
    line-height: 1.05;
    margin: 0;
}

.infoLivro h2 {
    font-size: 20px;
    color: #666;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.anoLivro {
    font-size: 14px;
    color: #888;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.notaLivro {
    margin: 0;
    color: #bba10d;
    font-weight: 500;
    font-size: 0.97rem;
    font-family: 'Montserrat', sans-serif;
}

.resumoLivro {
    max-width: 720px;
    font-size: 1.08rem;
    text-align: justify;
    line-height: 1.8;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    margin-top: 6px;
}

.tabsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 24px;
    width: 100%;
    padding: 8px;
    background: white;
    border: 1px solid #ece7ec;
    border-radius: 14px;
    justify-content: center;
    box-sizing: border-box;
}

.tabsContainer button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 11px 22px;
    border-radius: 16px;
    border: 1px solid rgb(242, 242, 242);
    background-color: white;
    color: #8c2e8c;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.25s ease;
    font-family: 'Montserrat', sans-serif;
}

.tabsContainer button:hover {
    background-color: #faeafd;
    transform: translateY(-2px);
}

.active {
    background-color: #b951a1 !important;
    color: white !important;
    border-color: #b951a1 !important;
}

.conteudoTabs {
    border: 1px solid #e2e2e2;
    border-radius: 16px;
    padding: 28px;
    background-color: white;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cardInfo {
    background-color: #fdf1ffe7;
    border-radius: 10px;
    padding: 24px;
}

.cardInfo h3 {
    font-size: 24px;
    font-family: 'Georgia', serif;
    font-weight: 500;
    color: #383838;
    margin-bottom: 12px;
}

.cardInfo p {
    font-size: 1rem;
    line-height: 1.8;
    color: #383838;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    white-space: pre-line;
}

.personagemCard {
    margin-top: 20px;
    padding: 20px;
    border-radius: 12px;
    background-color: #fdf1ffe7;
    border: 1.5px solid #f3d5f9cb;
}

.personagemCard h4 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-family: 'Georgia', serif;
}

.personagemCard p {
    margin-bottom: 10px;
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif;
}

@media (max-width: 1440px) {
    .detalhes {
        max-width: 1000px;
        padding: 0px 30px 60px;
    }

    .secaoPrincipal {
        gap: 28px;
        padding: 20px 24px;
        max-width: 100%;
        margin: 0 auto;
    }

    .capaLivro img {
        width: 190px;
    }

    .infoLivro h1 {
        font-size: 40px;
    }

    .infoLivro h2 {
        font-size: 18px;
    }

    .resumoLivro {
        font-size: 1rem;
        max-width: 600px;
    }

    .conteudoTabs {
        padding: 24px;
        max-width: 100%;
        margin: 0 auto;
    }

    .cardInfo h3 {
        font-size: 20px;
    }

    .tabsContainer {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        width: 100%;
        margin: 25px auto;
        justify-content: center;
        padding: 10px;
        background: white;
        border: 1px solid #ece7ec;
        border-radius: 14px;
    }

    .tabsContainer button {
        font-size: 13px;
        padding: 9px 15px;
    }

}

@media (max-width: 1024px) {
    .detalhes {
        padding: 0px 26px 50px;
    }

    .secaoPrincipal {
        gap: 26px;
        padding: 18px 22px;
        max-width: 80%;
    }

    .capaLivro img {
        width: 180px;
    }

    .infoLivro h1 {
        font-size: 36px;
    }

    .infoLivro h2 {
        font-size: 17px;
    }

    .resumoLivro {
        font-size: 0.98rem;
        max-width: 100%;
    }

    .tabsContainer {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        width: 85%;
        margin: 20px auto 20px;
        justify-content: center;
        padding: 10px;
        background: white;
        border: 1px solid #ece7ec;
        border-radius: 14px;
    }

    .conteudoTabs {
        padding: 24px;
        max-width: 80%;
        margin: 0 auto;
    }

    .botaoVoltar {
        padding-top: 22px;
        margin-left: 80px;
        font-size: 0.98rem;
    }

    .topoDetalhes {
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {
    .secaoPrincipal {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .infoLivro {
        align-items: center;
    }

    .resumoLivro {
        text-align: center;
    }

    .botaoVoltar {
        padding-top: 22px;
        margin-left: 50px;
        font-size: 0.95rem;
    }

    .topoDetalhes {
        margin-bottom: 10px;
    }
}

@media (max-width: 500px) {
    .detalhes {
        padding: 0px 16px 40px;
    }

    .secaoPrincipal {
        padding: 16px;
    }

    .capaLivro img {
        width: 150px;
    }

    .infoLivro h1 {
        font-size: 26px;
    }

    .infoLivro h2 {
        font-size: 15px;
    }

    .resumoLivro {
        font-size: 0.9rem;
        line-height: 1.65;
        text-align: left;
    }

    .tabsContainer {
        flex-direction: column;
        align-items: stretch;
    }

    .tabsContainer button {
        width: 100%;
    }

    .cardInfo h3 {
        font-size: 16px;
    }

    .cardInfo p {
        font-size: 14px;
        text-align: left;
    }

    .botaoVoltar {
        padding-top: 12px;
        margin-left: 20px;
        font-size: 0.85rem;
    }

    .topoDetalhes {
        margin-bottom: 10px;
    }
}

@media (max-width: 395px) {
    .detalhes {
        padding: 0px 12px 35px;
    }

    .infoLivro h1 {
        font-size: 22px;
    }

    .capaLivro img {
        width: 130px;
    }

    .conteudoTabs {
        padding: 16px;
    }

    .cardInfo {
        padding: 14px;
    }

    .cardInfo p {
        text-align: left;
    }

    .botaoVoltar {
        padding-top: 12px;
        margin-left: 20px;
        font-size: 0.85rem;
    }

    .topoDetalhes {
        margin-bottom: 10px;
    }

    .resumoLivro {
        text-align: left;
    }
}
